<div class="container container-wide">
	<div class="row">
		<div class="col s12 m6 l6">
 			<div class="card-bento-lg card-bento-lg__non-carousel">
				<div class="card-context _10-sb-all-caps color-shift__white">Mac</div>
				<div class="card-subtitle _23-b color-shift__white">See how our new Mac models bring next-generation speed and battery life.</div>
				<div class="button-plus">
					<img src="img/ui-plus-white.svg">
				</div>
				<div class="card-asset-container card-home7">
					<video playsinline autoplay muted loop>
					<source src="./img/videos/card-m1chip.mp4" type="video/mp4">
					Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l6">
			<div class="bento-1top-2bot bento-1top-2bot__non-carousel">
				<div class="card-bento-md-horz card-bento-md-horz__non-carousel">
					<div class="card-context _10-sb-all-caps">Apple watch Studio</div>
					<div class="card-subtitle _17-sb">Mix and match cases and bands to create your own style.</div>
					<div class="button-plus button-plus__black">
						<img src="img/ui-plus.svg">
					</div>
					<div class="card-asset-container card-home8"></div>
				</div>
				<div class="card-bento-sm card-bento-sm1__non-carousel">
					<div class="card-context _10-sb-all-caps color-shift__white">Apple tv+ first look</div>
					<div class="card-subtitle _17-sb color-shift__white">Watch the exclusive season <br/>2 Ted Lasso trailer.</div>
					<div class="button-plus">
						<img src="img/ui-plus-white.svg">
					</div>
					<div class="card-asset-container card-home9"></div>
				</div>
				<div class="card-bento-sm card-bento-sm2__non-carousel">
					<div class="card-context _10-sb-all-caps">magsafe</div>
					<div class="card-subtitle _17-sb">Discover the family that stays attached and charges fast.</div>
					<div class="button-plus button-plus__black">
						<img src="img/ui-plus.svg">
					</div>
					<div class="card-asset-container card-home10"></div>
				</div>
			</div>
		</div>
	</div>
</div>