
	<div class="card-home">
			<a href="iphone-12.html"><div class="card-context _23-sb">iPhone 12</div></a>
			<a href="iphone-12.html"><div class="card-title _62-b">Explore five finishes,<br/> in two sizes.</div></a>
			<a href="iphone-12.html"><div class="card-text _12-reg">From $29.12/mo. or<br/>$699 before trade-in.</div></a>
			<div class="button-main _14-sb" onclick="buyLaunch();">Buy</div>
		<a href="iphone-12.html"><div class="card-asset-container card-home1" style="pointer-events: auto;"></div></a>
	</div>

<div class="card-home">
		<div class="card-context _23-sb color-shift__white">iPhone 12 Pro</div>
		<div class="card-title _62-b color-shift__white card-home-center-text">Meet our most advanced<br/> iPhone yet.</div>
		<div class="card-text _12-reg color-shift__white">From $41.62/mo. or<br/> $999 before trade‑in</div>
		<div class="button-main _14-sb">Buy</div>
    <div class="card-asset-container card-home2">
		<video playsinline autoplay muted loop>
		<source src="./img/videos/home-12pro.mp4" type="video/mp4">
		Your browser does not support the video tag.
		</video>
	</div>
</div>
<div class="card-home">
		<div class="card-context _23-sb">Apple Watch Series 6</div>
		<div class="card-title _62-b">See its revolutionary <br/>sensor up close.</div>
		<div class="card-text _12-reg">From $16.62/mo. or<br/> $399 before trade-in.</div>
		<div class="button-main _14-sb">Buy</div>
    <div class="card-asset-container card-home3">
		<video playsinline autoplay muted loop>
		<source src="./img/videos/home-watch6.mp4" type="video/mp4">
		Your browser does not support the video tag.
		</video>
	</div>
</div>
<div class="card-home">
		<div class="card-context _23-sb">Fitness+</div>
		<div class="card-title _62-b align-text-left" style="margin-top: 130px; margin-left: 32px;">It’s here.<br/> Let’s go.</div>
		<div class="card-subtitle _23-sb align-text-left" style="margin-left: 32px;">Discover world-class workouts.<br/>Powered by Apple Watch.</div>
		<div class="button-main _14-sb">Try It Free</div>
    <div class="card-asset-container card-home4">
		<video id="home-fitness" playsinline autoplay muted loop>
		<source src="./img/videos/home-fitness.mp4" type="video/mp4">
		Your browser does not support the video tag.
		</video>
	</div>
</div>
<div class="card-home">
		<div class="card-context _23-sb color-shift__shade200">MacBook Pro</div>
		<div class="card-title _62-b color-shift__shade200">Meet the new <br/>generation of Mac.</div>
		<div class="card-text _12-reg color-shift__shade200">From $83.25/mo. or $999<br/> Available for delivery in 1 week.</div>
		<div class="button-main _14-sb">Buy</div>
    <div class="card-asset-container card-home5">
	<video id="home-mac" playsinline autoplay muted loop>
		<source src="./img/videos/home-mac.mp4" type="video/mp4">
		Your browser does not support the video tag.
		</video>
	</div>
</div>