<div class="carousel-iphone" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"freeScroll": true,
			"freeScrollFriction": "0.05",
			"autoPlay": false,
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-mac.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-mac.jpg">
			</div>
			<div class="card-shopby-name _14-sb">Shop Mac</div>
		</a>
	</div>


	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-ipad.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-ipad.jpg">
			</div>
			<div class="card-shopby-name _14-sb">Shop iPad</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-iphone.html">
		<div class="card-shopby-image">
			<img src="img/photos/shop-iphone.jpg">
		</div>
		<div class="card-shopby-name _14-sb">Shop iPhone</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-watch.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-watch.jpg">
			</div>
			<div class="card-shopby-name _14-sb">Shop Watch</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-airpods.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-airpods.jpg">
			</div>
			<div class="card-shopby-name _14-sb">Shop AirPods</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-tv.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-tv.jpg">
			</div>
			<div class="card-shopby-name _14-sb">Shop TV &amp; Home</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-accessories.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-ipod.jpg">
			</div>
			<div class="card-shopby-name _14-sb">Shop iPod touch</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-services.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-accessories.jpg">
			</div>
			<div class="card-shopby-name _14-sb">Shop Accessories</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-giftcards.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-giftcard.jpg">
			</div>
			<div class="card-shopby-name _14-sb">Shop Gift Cards</div>
		</a>
	</div>

	<div class="clear-cell-fix" aria-hidden="false"></div>
</div>