<div class="carousel-iphone" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"freeScroll": true,
			"freeScrollFriction": "0.05",
			"autoPlay": false,
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-mac.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-mac.png">
			</div>
			<div class="card-shopby-name _14-sb">Shop Mac</div>
		</a>
	</div>

		<!-- Expand Gallery WORK ON THIS LATER
<main class="main">

	<section href="#modal2" class="section card-shopby card-shopby__iphone" id="modal2" onclick="quickAdd2()">
		<div class="card-shopby-image">
			<img src="img/photos/shop-iphone12pro.png">
		</div>
		<div class="card-shopby-name _14-sb">Phone 12 Pro</div>
		<div class="close-section">
			<div class="button-close" onclick="quickRemove2()">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="transition-text" id="quick-remove2">
			<div id="quick-add2">
				<div class="transition-header _40-b color-shift__white">Title goes here</div>
				<div class="transition-copy _19-sb color-shift__white">Both the Wide and Ultra Wide cameras now have Night mode — and it’s better than ever at capturing incredible low-light shots. The new Wide camera brings in 27 percent more light. So whether you take photos by day or by moonlight, you’ll get a level of detail and color that wasn’t possible before.</div>
			</div>
		</div>
	</section>
</main>-->


	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-ipad.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-ipad.png">
			</div>
			<div class="card-shopby-name _14-sb">Shop iPad</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-iphone.html">
		<div class="card-shopby-image">
			<img src="img/photos/shop-iphone.png">
		</div>
		<div class="card-shopby-name _14-sb">Shop iPhone</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-watch.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-watch.png">
			</div>
			<div class="card-shopby-name _14-sb">Shop Watch</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-airpods.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-airpods.png">
			</div>
			<div class="card-shopby-name _14-sb">Shop AirPods</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-tv.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-tv.png">
			</div>
			<div class="card-shopby-name _14-sb">Shop TV &amp; Home</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-accessories.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-ipod.png">
			</div>
			<div class="card-shopby-name _14-sb">Shop iPod Touch</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-services.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-access.png">
			</div>
			<div class="card-shopby-name _14-sb">Shop Accessories</div>
		</a>
	</div>

	<div class="card-shopby card-shopby__iphone">
		<a href="collection-store-giftcards.html">
			<div class="card-shopby-image">
				<img src="img/photos/shop-giftcard.png">
			</div>
			<div class="card-shopby-name _14-b">Shop Gift Cards</div>
		</a>
	</div>

	<div class="clear-cell-fix"></div>
</div>