<div class="carousel-featured" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"autoPlay": "5000",
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>
	<div class="card-featured featured-cell1">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-title _34-b">Lorem title</div>
		<div class="card-subtitle _19-sb">Lorem smaller text here</div>
		<div class="card-text _12-reg">Lorem from $XX or $XXX</div>
		<div class="button-main _14-sb">Experience</div>
	</div>
	<div class="card-featured featured-cell1">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-title _34-b">Lorem title</div>
		<div class="card-subtitle _19-sb">Lorem smaller text here</div>
		<div class="card-text _12-reg">Lorem from $XX or $XXX</div>
		<div class="button-main _14-sb">Shop</div>
	</div>
	<div class="card-featured featured-cell1">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-title _34-b">Lorem title</div>
		<div class="card-subtitle _19-sb">Lorem smaller text here</div>
		<div class="card-text _12-reg">Lorem from $XX or $XXX</div>
		<div class="button-main _14-sb">Pre-Order</div>
	</div>
	<div class="card-featured featured-cell1">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-title _34-b">Lorem title</div>
		<div class="card-subtitle _19-sb">Lorem smaller text here</div>
		<div class="card-text _12-reg">Lorem from $XX or $XXX</div>
		<div class="button-main _14-sb">Notify Me</div>
	</div>
	<div class="card-featured featured-cell1">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-title _34-b">Lorem title</div>
		<div class="card-subtitle _19-sb">Lorem smaller text here</div>
		<div class="card-text _12-reg">Lorem from $XX or $XXX</div>
		<div class="button-main _14-sb">Experience</div>
	</div>
	<div class="card-featured featured-cell1">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-title _34-b">Lorem title</div>
		<div class="card-subtitle _19-sb">Lorem smaller text here</div>
		<div class="card-text _12-reg">Lorem from $XX or $XXX</div>
		<div class="button-main _14-sb">Experience</div>
	</div>
	<div class="card-featured featured-cell1">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-title _34-b">Lorem title</div>
		<div class="card-subtitle _19-sb">Lorem smaller text here</div>
		<div class="card-text _12-reg">Lorem from $XX or $XXX</div>
		<div class="button-main _14-sb">Experience</div>
	</div>
	<div class="clear-cell-fix" aria-hidden="false"></div>
</div>