<div class="carousel-shopby" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"freeScroll": true,
			"freeScrollFriction": "0.05",
			"autoPlay": false,
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>
	<div class="card-shopby">
		<div class="card-shopby-image">
			<img src="img/lob-mac.svg">
		</div>
		<div class="card-shopby-name _14-b"><a href="collection-mac.html">Mac</a></div>
	</div>
	<div class="card-shopby">
		<div class="card-shopby-image">
			<img src="img/lob-ipad.svg">
		</div>
		<div class="card-shopby-name _14-b"><a href="collection-ipad.html">iPad</a></div>
	</div>
	<div class="card-shopby">
		<div class="card-shopby-image">
			<img src="img/lob-iphone.svg">
		</div>
		<div class="card-shopby-name _14-b"><a href="collection-iphone.html">iPhone</a></div>
	</div>
	<div class="card-shopby">
		<div class="card-shopby-image">
			<img src="img/lob-watch.svg">
		</div>
		<div class="card-shopby-name _14-b"><a href="collection-watch.html">Watch</a></div>
	</div>
	<div class="card-shopby">
		<div class="card-shopby-image">
			<img src="img/lob-airpods.svg">
		</div>
		<div class="card-shopby-name _14-b"><a href="collection-airpods.html">AirPods</a></div>
	</div>
	<div class="card-shopby">
		<div class="card-shopby-image">
			<img src="img/lob-home.svg">
		</div>
		<div class="card-shopby-name _14-b"><a href="collection-home.html">Home &amp; TV</a></div>
	</div>
	<div class="card-shopby">
		<div class="card-shopby-image">
			<img src="img/lob-accessories.svg">
		</div>
		<div class="card-shopby-name _14-b"><a href="collection-accessories.html">Accessories</a></div>
	</div>
	<div class="card-shopby">
		<div class="card-shopby-image">
			<img src="img/lob-services.svg">
		</div>
		<div class="card-shopby-name _14-b"><a href="collection-services.html">Services</a></div>
	</div>
	<div class="card-shopby">
		<div class="card-shopby-image">
			<img src="img/lob-new.svg">
		</div>
		<div class="card-shopby-name _14-b"><a href="collection-shop.html">Shop New</a></div>
	</div>
	<div class="clear-cell-fix" aria-hidden="false"></div>
</div>