<div class="carousel-bento" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"freeScroll": true,
			"freeScrollFriction": "0.05",
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>
	<div class="card-bento-lg">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-subtitle _14-sb">Lorem smaller text here</div>
		<div class="button-plus">
			<img src="img/ui-plus.svg">
		</div>
	</div>
	<div class="bento-1top-2bot">
		<div class="card-bento-md-horz">
			<div class="card-context _10-sb-all-caps">Context</div>
			<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-bento-sm">
			<div class="card-context _10-sb-all-caps">Context</div>
			<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-bento-sm">
			<div class="card-context _10-sb-all-caps">Context</div>
			<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
	</div>
	<div class="card-bento-md-vertical">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-subtitle _14-sb">Lorem smaller text here</div>
		<div class="button-plus">
			<img src="img/ui-plus.svg">
		</div>
	</div>
	<div class="card-bento-md-vertical">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-subtitle _14-sb">Lorem smaller text here</div>
		<div class="button-plus">
			<img src="img/ui-plus.svg">
		</div>
	</div>
	<div class="bento-x">
		<div class="card-bento-md-horz">
			<div class="card-context _10-sb-all-caps">Context</div>
			<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="bento-x-sm-wrapper">
			<div class="card-bento-sm">
				<div class="card-context _10-sb-all-caps">Context</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
				<div class="button-plus">
					<img src="img/ui-plus.svg">
				</div>
			</div>
			<div class="card-bento-sm">
				<div class="card-context _10-sb-all-caps">Context</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
				<div class="button-plus">
					<img src="img/ui-plus.svg">
				</div>
			</div>
		</div>
		<div class="card-bento-md-horz">
			<div class="card-context _10-sb-all-caps">Context</div>
			<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
	</div>
	<div class="card-bento-lg">
		<div class="card-context _10-sb-all-caps">Context</div>
		<div class="card-subtitle _14-sb">Lorem smaller text here</div>
		<div class="button-plus">
			<img src="img/ui-plus.svg">
		</div>
	</div>
	<div class="clear-cell-fix-bento"></div>
</div>