<div class="carousel-featured" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>
	<!--<div class="card-collection-featured featured-cell1">
		<div class="card-collection-context _10-sb-all-caps">Shopping tools</div>
		<div class="card-collection-title _34-b">Which iPhone <br>is right for you?</div>
		<div class="card-collection-subtitle _19-sb">Find Yours ⊕</div>
	</div>-->
	<div class="card-collection-featured featured-cell1">
		<div class="card-collection-title _34-b">At home<br/>with Apple.</div>
		<div class="card-collection-subtitle _19-sb">Find the right products<br/>for every room.</div>
		<div class="button-plus button-plus__black">
			<img src="img/ui-plus.svg">
		</div>
		<div class="card-asset-container card42"></div>
	</div>
	<div class="card-closer featured-cell1">
		<div class="card-closer-title _19-b">HomePod mini</div>
		<div class="card-closer-text _12-reg">$99</div>
		<div class="button-main _14-sb">Buy</div>
		<div class="card-asset-container card43"></div>
	</div>
	<div class="card-closer featured-cell1">
		<div class="card-closer-title _19-b">Logitech Circle View<br/>Wired Doorbell</div>
		<div class="card-closer-text _12-reg">$199.95</div>
		<div class="button-main _14-sb">Buy</div>
		<div class="card-asset-container card44"></div>
	</div>
	<div class="card-closer featured-cell1">
		<div class="card-closer-title _19-b">ecobee3 lite<br/>Smart Thermostat</div>
		<div class="card-closer-text _12-reg">$169.95</div>
		<div class="button-main _14-sb">Buy</div>
		<div class="card-asset-container card45"></div>
	</div>
	<div class="card-closer featured-cell1">
		<div class="card-closer-title _19-b">Nanoleaf Canvas<br/>Smarter Light Kit</div>
		<div class="card-closer-text _12-reg">$199.95</div>
		<div class="button-main _14-sb">Buy</div>
		<div class="card-asset-container card45-b"></div>
	</div>
	<div class="clear-cell-fix" aria-hidden="false"></div>
</div>