<div class="carousel-featured" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>
	<a href="collection-store-iphone.html">
		<div class="card-closer">
			<div class="card-closer-context _10-sb-all-caps">iPHONE collection</div>
			<div class="card-closer-title card-closer-title__featured _34-b">Shop the all-new iPhone lineup.</div>
			<div class="card-asset-container card32"></div>
		</div>
	</a>
	<div class="card-closer" onclick="quizLaunch()">
		<div class="card-closer-context _10-sb-all-caps">iPHONE MODEL Guide</div>
		<div class="card-closer-title card-closer-title__featured _34-b">Which iPhone is<br/>right for you?</div>
		<div class="card-asset-container card33"></div>
	</div>
	<div class="card-closer">
		<div class="card-closer-context _10-sb-all-caps">Apple Offers</div>
		<div class="card-closer-title card-closer-title__featured _34-b">Find out how much you can save on your next iPhone.</div>
		<div class="card-asset-container card34"></div>
	</div>
	<div class="card-closer">
		<div class="card-closer-context _10-sb-all-caps">NEW</div>
		<div class="card-closer-title _19-b">Apple Watch Series 6</div>
		<div class="card-closer-text _12-reg">From $399</div>
		<div class="button-main _14-sb">Buy</div>
		<div class="card-asset-container card35"></div>
	</div>
	<div class="card-closer">
		<div class="card-closer-context _10-sb-all-caps">APPLE WATCH STUDIO</div>
		<div class="card-closer-title card-closer-title__featured _34-b">Any case. Any band. Any style you want.</div>
		<div class="card-asset-container card36"></div>
	</div>
	<div class="clear-cell-fix" aria-hidden="false"></div>
</div>