
		<!-- Expand Gallery WORK ON THIS LATER-->
<main class="main main-row">

	<section href="#modal1" class="section expand-shopby expand-shopby1 stop-expansion" id="modal1" onclick="quickAdd()">
		<div class="key-feature-text-wrapper">
			<div class="expand-shopby-image">
			<img src="img/photos/shop-mac.png">
			</div>
			<div class="card-expand-name _14-b">Shop Mac</div>
		</div>

		<div class="close-section">
			<div class="button-close" onclick="quickRemove()">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="transition-text" id="quick-remove">
			<div id="quick-add">
				<div class="transition-header _40-b">Title goes here</div>
				<div class="transition-copy _19-sb">Both the Wide and Ultra Wide cameras now have Night mode — and it’s better than ever at capturing incredible low-light shots. The new Wide camera brings in 27 percent more light. So whether you take photos by day or by moonlight, you’ll get a level of detail and color that wasn’t possible before.</div>
			</div>
		</div>
		<div class="expand-shopby-bg"></div>
	</section>


	<section href="#modal2" class="section expand-shopby expand-shopby2 stop-expansion" id="modal2" onclick="quickAdd2()">
		<div class="key-feature-text-wrapper">
			<div class="expand-shopby-image">
			<img src="img/photos/shop-ipad.png">
			</div>
			<div class="card-expand-name _14-b">Shop iPad</div>
		</div>

		<div class="close-section">
			<div class="button-close" onclick="quickRemove2()">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="transition-text" id="quick-remove2">
			<div id="quick-add2">
				<div class="transition-header _40-b">Title goes here</div>
				<div class="transition-copy _19-sb">Both the Wide and Ultra Wide cameras now have Night mode — and it’s better than ever at capturing incredible low-light shots. The new Wide camera brings in 27 percent more light. So whether you take photos by day or by moonlight, you’ll get a level of detail and color that wasn’t possible before.</div>
			</div>
		</div>
		<div class="expand-shopby-bg"></div>
	</section>


	<section href="#modal3" class="section expand-shopby expand-shopby3" id="modal3">
		<div class="key-feature-text-wrapper" onclick="matLaunch();">
			<a href="collection-store.html#matTop">
				<div class="expand-shopby-image">
					<img src="img/photos/shop-iphone.png">
				</div>
				<div class="card-expand-name _14-b">Shop iPhone</div>
			</a>
		</div>

		<div class="close-section" >
			<div class="button-close" onclick="matClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-shopby-bg" id="expand-shopby-bg"></div>
	</section>

	<!--Gallery-->
  <div class="docSlider docSlider-Mat" id="matSliderGallery">
    <div class="gallerySection" id="matTop12pro">
        <div class="galleryContent">
			<div class="gal">
				<div class="gal-content-left">
					<div class="gal-context _10-sb-all-caps color-shift__engager">NEW</div>
					<div class="gal-title _45-b">iPhone 12 Pro</div>
					<div class="gal-subtitle _14-reg color-shift__shade600">From $999 or from $34.56/mo.<br/>before trade-in.</div>
					<div class="gal-key-wrapper">
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key1.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">6.1" and 6.7"</div>
								<div class="_14-reg key-subtext color-shift__shade600">Super Retina XDR display</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key2.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">5G Cellular</div>
								<div class="_14-reg key-subtext color-shift__shade600">Super fast downloads</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key3.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">Pro camera system</div>
								<div class="_14-reg key-subtext color-shift__shade600">Ultra Wide, Wide, Telephoto lens</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key4.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">A14 Bionic</div>
								<div class="_14-reg key-subtext color-shift__shade600">Fastest chip in a smartphone</div>
							</div>
						</div>
					</div>
					<div class="gal-link-wrapper">
						<a class="link-main _14-sb">Learn More</a>
						<a class="link-main _14-sb" style="margin-left: 26px;">Compare iPhone</a>
					</div>
					<div class="gal-interaction-wrapper">
						<!--Product Interactions-->
						<div class="product-interactions-wrapper">
	<!--<a href="iphone-12.html#galleryTop">-->
	<div class="product-interaction" onclick="galleryLaunch();"> <!--jumpGalTop();-->
		<img class="product-interaction-icon" src="img/icon-interaction-gallery.svg"/>
	</div>

	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-ar.svg"/>
	</div>
	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-chat.svg"/>
	</div>
</div>
					</div>
					<div class="gal-mat-bg mat-bg1"></div>
				</div>
				<div class="gal-content-right">
					<div class="_28-b">Get iPhone 12 Pro<br/>for a great price.</div>
					<div class="segment-control-2up segment-control-2up__digital-mat ">
						<input type="radio" name="savings" value="save-op" id="save-op" checked />
						<label for="save-op"  onclick="appleShow();">
							<p class="_14-sb">Apple Savings</p>
						</label>
						<input type="radio" name="savings" value="save-op2" id="save-op2" />
						<label for="save-op2" onclick="carrierShow();">
							<p class="_14-sb">Apple Carrier Deals</p>
						</label>
					</div>
					<div id="savings-swap1" class="savings-swap savings-in">
						<div class="save-apple-item">
							<div class="_17-b">Apple Trade In</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get up to $340 in instant credit when you trade in an eligible device.</div>
						</div>
						<div class="save-apple-item">
							<div class="_17-b">Apple Card</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get 6% Daily Cash back with a new Apple card through March.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Savings</div>
							<div class="_23-sb review-new-price">From $669 or $24.96/mo. </div>
						</div>
					</div>
					<div id="savings-swap2" class="savings-swap">
						<div class="save-apple-item">
							<div class="_17-b">Special Carrier Offers</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Save up to $700 with the latest carrier deals directly from Apple.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Carrier Deals</div>
							<div class="_23-sb review-new-price">From $659 or $9.97/mo. </div>
						</div>
					</div>
					<div class="review-wrapper">
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop1.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get it delivered tomorrow or in 2 hours for $9.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop2.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Returns are always free and easy.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop3.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get extended coverage with AppleCare+.</div>
						</div>
						<div class="review-action-wrapper">
							<div class="button-buy _17-sb">Buy</div>
							<div class="button-heart _17-sb"><img src="./img/ui-heart.svg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="gallerySection" id="matTop12">
        <div class="galleryContent">
			<div class="gal">
				<div class="gal-content-left">
					<div class="gal-context _10-sb-all-caps color-shift__engager">NEW</div>
					<div class="gal-title _45-b">iPhone 12</div>
					<div class="gal-subtitle _14-reg color-shift__shade600">From $799 or from $29.12/mo.<br/>before trade-in.</div>
					<div class="gal-key-wrapper">
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key1.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">5.4" and 6.1"</div>
								<div class="_14-reg key-subtext color-shift__shade600">Super Retina XDR display</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key2.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">5G Cellular</div>
								<div class="_14-reg key-subtext color-shift__shade600">Super fast downloads</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key5.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">Advanced dual-camera system</div>
 								<div class="_14-reg key-subtext color-shift__shade600">Ultra Wide, Wide lens</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key4.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">A14 Bionic</div>
								<div class="_14-reg key-subtext color-shift__shade600">Fastest chip in a smartphone</div>
							</div>
						</div>
					</div>
					<div class="gal-link-wrapper">
						<a class="link-main _14-sb" href="iphone-12.html">Learn More</a>
						<a class="link-main _14-sb" style="margin-left: 26px;">Compare iPhone</a>
					</div>
					<div class="gal-interaction-wrapper">
						<!--Product Interactions-->
						<div class="product-interactions-wrapper">
	<!--<a href="iphone-12.html#galleryTop">-->
	<div class="product-interaction" onclick="galleryLaunch();"> <!--jumpGalTop();-->
		<img class="product-interaction-icon" src="img/icon-interaction-gallery.svg"/>
	</div>

	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-ar.svg"/>
	</div>
	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-chat.svg"/>
	</div>
</div>
					</div>
					<div class="gal-mat-bg mat-bg2"></div>
				</div>
				<div class="gal-content-right">
					<div class="_28-b">Get iPhone 12<br/>for a great price.</div>
					<div class="segment-control-2up segment-control-2up__digital-mat ">
						<input type="radio" name="buy-reco2" value="reco2" id="reco2" checked />
						<label for="reco2"  onclick="appleShow2();">
							<p class="_14-sb">Apple Savings</p>
						</label>
						<input type="radio" name="buy-reco2" value="manual2" id="manual2" />
						<label for="manual2" onclick="carrierShow2();">
							<p class="_14-sb">Apple Carrier Deals</p>
						</label>
					</div>
					<div id="savings-swap3" class="savings-swap savings-in">
						<div class="save-apple-item">
							<div class="_17-b">Apple Trade In</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get up to $340 in instant credit when you trade in an eligible device.</div>
						</div>
						<div class="save-apple-item">
							<div class="_17-b">Apple Card</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get 6% Daily Cash back with a new Apple card through March.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Savings</div>
							<div class="_23-sb review-new-price">From $469 or $19.36/mo. </div>
						</div>
					</div>
					<div id="savings-swap4" class="savings-swap">
						<div class="save-apple-item">
							<div class="_17-b">Special Carrier Offers</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Save up to $700 with the latest carrier deals directly from Apple.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Carrier Deals</div>
							<div class="_23-sb review-new-price">From $439 or $4.75/mo. </div>
						</div>
					</div>
					<div class="review-wrapper">
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop1.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get it delivered tomorrow or in 2 hours for $9.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop2.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Returns are always free and easy.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop3.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get extended coverage with AppleCare+.</div>
						</div>
						<div class="review-action-wrapper">
							<div class="button-buy _17-sb" onclick="buyLaunch();">Buy</div>
							<div class="button-heart _17-sb"><img src="./img/ui-heart.svg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="gallerySection" id="matTopse">
        <div class="galleryContent">
			<div class="gal">
				<div class="gal-content-left">
					<div class="gal-context _10-sb-all-caps color-shift__engager"></div>
					<div class="gal-title _45-b">iPhone SE</div>
					<div class="gal-subtitle _14-reg color-shift__shade600">From $399 or from $16.62/mo.<br/>before trade-in.</div>
					<div class="gal-key-wrapper">
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key1.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">4.7"</div>
								<div class="_14-reg key-subtext color-shift__shade600">Retina HD display</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key4g.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">4G Cellular</div>
								<div class="_14-reg key-subtext color-shift__shade600">LTE speeds</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key6.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">Single-camera system</div>
								<div class="_14-reg key-subtext color-shift__shade600">Wide lens</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-keya13.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">A13 Bionic</div>
								<div class="_14-reg key-subtext color-shift__shade600">Amazingly Fast</div>
							</div>
						</div>
					</div>
					<div class="gal-link-wrapper">
						<a class="link-main _14-sb">Learn More</a>
						<a class="link-main _14-sb" style="margin-left: 26px;">Compare iPhone</a>
					</div>
					<div class="gal-interaction-wrapper">
						<!--Product Interactions-->
						<div class="product-interactions-wrapper">
	<!--<a href="iphone-12.html#galleryTop">-->
	<div class="product-interaction" onclick="galleryLaunch();"> <!--jumpGalTop();-->
		<img class="product-interaction-icon" src="img/icon-interaction-gallery.svg"/>
	</div>

	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-ar.svg"/>
	</div>
	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-chat.svg"/>
	</div>
</div>
					</div>
					<div class="gal-mat-bg mat-bg3"></div>
				</div>
				<div class="gal-content-right">
					<div class="_28-b">Get iPhone SE<br/>for a great price.</div>
					<div class="segment-control-2up segment-control-2up__digital-mat ">
						<input type="radio" name="buy-reco3" value="reco3" id="reco3" checked />
						<label for="reco3"  onclick="appleShow3();">
							<p class="_14-sb">Apple Savings</p>
						</label>
						<input type="radio" name="buy-reco3" value="manual3" id="manual3" />
						<label for="manual3" onclick="carrierShow3();">
							<p class="_14-sb">Apple Carrier Deals</p>
						</label>
					</div>
					<div id="savings-swap5" class="savings-swap savings-in">
						<div class="save-apple-item">
							<div class="_17-b">Apple Trade In</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get up to $340 in instant credit when you trade in an eligible device.</div>
						</div>
						<div class="save-apple-item">
							<div class="_17-b">Apple Card</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get 6% Daily Cash back with a new Apple card through March.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Savings</div>
							<div class="_23-sb review-new-price">From $219 or $6.37/mo. </div>
						</div>
					</div>
					<div id="savings-swap6" class="savings-swap">
						<div class="save-apple-item">
							<div class="_17-b">Special Carrier Offers</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Save up to $700 with the latest carrier deals directly from Apple.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Carrier Deals</div>
							<div class="_23-sb review-new-price">From $199 or $4.36/mo. </div>
						</div>
					</div>
					<div class="review-wrapper">
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop1.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get it delivered tomorrow or in 2 hours for $9.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop2.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Returns are always free and easy.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop3.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get extended coverage with AppleCare+.</div>
						</div>
						<div class="review-action-wrapper">
							<div class="button-buy _17-sb">Buy</div>
							<div class="button-heart _17-sb"><img src="./img/ui-heart.svg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
   <div class="gallerySection" id="matTop11">
        <div class="galleryContent">
			<div class="gal">
				<div class="gal-content-left">
					<div class="gal-context _10-sb-all-caps color-shift__engager"></div>
					<div class="gal-title _45-b">iPhone 11</div>
					<div class="gal-subtitle _14-reg color-shift__shade600">From $599 or from $21.56/mo.<br/>before trade-in.</div>
					<div class="gal-key-wrapper">
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key1.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">6.1"</div>
								<div class="_14-reg key-subtext color-shift__shade600">Liquid Retina display</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key4g.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">4G Cellular</div>
								<div class="_14-reg key-subtext color-shift__shade600">LTE speeds</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key5.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">Dual-camera system</div>
								<div class="_14-reg key-subtext color-shift__shade600">Ultra Wide, Wide lens</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-keya13.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">A13 Bionic</div>
								<div class="_14-reg key-subtext color-shift__shade600">Faster than most smartphones</div>
							</div>
						</div>
					</div>
					<div class="gal-link-wrapper">
						<a class="link-main _14-sb">Learn More</a>
						<a class="link-main _14-sb" style="margin-left: 26px;">Compare iPhone</a>
					</div>
					<div class="gal-interaction-wrapper">
						<!--Product Interactions-->
						<div class="product-interactions-wrapper">
	<!--<a href="iphone-12.html#galleryTop">-->
	<div class="product-interaction" onclick="galleryLaunch();"> <!--jumpGalTop();-->
		<img class="product-interaction-icon" src="img/icon-interaction-gallery.svg"/>
	</div>

	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-ar.svg"/>
	</div>
	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-chat.svg"/>
	</div>
</div>
					</div>
					<div class="gal-mat-bg mat-bg4"></div>
				</div>
				<div class="gal-content-right">
					<div class="_28-b">Get iPhone 11<br/>for a great price.</div>
					<div class="segment-control-2up segment-control-2up__digital-mat ">
						<input type="radio" name="buy-reco4" value="reco4" id="reco4" checked />
						<label for="reco4"  onclick="appleShow4();">
							<p class="_14-sb">Apple Savings</p>
						</label>
						<input type="radio" name="buy-reco4" value="manual4" id="manual4" />
						<label for="manual4" onclick="carrierShow4();">
							<p class="_14-sb">Apple Carrier Deals</p>
						</label>
					</div>
					<div id="savings-swap7" class="savings-swap savings-in">
						<div class="save-apple-item">
							<div class="_17-b">Apple Trade In</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get up to $340 in instant credit when you trade in an eligible device.</div>
						</div>
						<div class="save-apple-item">
							<div class="_17-b">Apple Card</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get 6% Daily Cash back with a new Apple card through March.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Savings</div>
							<div class="_23-sb review-new-price">From $349 or $17.96/mo. </div>
						</div>
					</div>
					<div id="savings-swap8" class="savings-swap">
						<div class="save-apple-item">
							<div class="_17-b">Special Carrier Offers</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Save up to $700 with the latest carrier deals directly from Apple.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Carrier Deals</div>
							<div class="_23-sb review-new-price">From $319 or $14.97/mo. </div>
						</div>
					</div>
					<div class="review-wrapper">
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop1.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get it delivered tomorrow or in 2 hours for $9.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop2.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Returns are always free and easy.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop3.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get extended coverage with AppleCare+.</div>
						</div>
						<div class="review-action-wrapper">
							<div class="button-buy _17-sb">Buy</div>
							<div class="button-heart _17-sb"><img src="./img/ui-heart.svg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopxr">
        <div class="galleryContent">
			<div class="gal">
				<div class="gal-content-left">
					<div class="gal-context _10-sb-all-caps color-shift__engager"></div>
					<div class="gal-title _45-b">iPhone X<span class="_34-b" style="display: inline-block; margin-top: -2px;">R</span></div>
					<div class="gal-subtitle _14-reg color-shift__shade600">From $499 or from $20.79/mo.<br/>before trade-in.</div>
					<div class="gal-key-wrapper">
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key1.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">6.1"</div>
								<div class="_14-reg key-subtext color-shift__shade600">Liquid Retina HD display</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key4g.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">4G Cellular</div>
								<div class="_14-reg key-subtext color-shift__shade600">LTE speeds</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-key6.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">Single-camera system</div>
								<div class="_14-reg key-subtext color-shift__shade600">Wide lens</div>
							</div>
						</div>
						<div class="gal-key-item">
							<div class="key-image">
								<img src="./img/photos/mat-keya12.png">
							</div>
							<div class="key-text-wrapper">
								<div class="_14-sb">A12 Bionic</div>
								<div class="_14-reg key-subtext color-shift__shade600">Amazingly fast</div>
							</div>
						</div>
					</div>
					<div class="gal-link-wrapper">
						<a class="link-main _14-sb">Learn More</a>
						<a class="link-main _14-sb" style="margin-left: 26px;">Compare iPhone</a>
					</div>
					<div class="gal-interaction-wrapper">
						<!--Product Interactions-->
						<div class="product-interactions-wrapper">
	<!--<a href="iphone-12.html#galleryTop">-->
	<div class="product-interaction" onclick="galleryLaunch();"> <!--jumpGalTop();-->
		<img class="product-interaction-icon" src="img/icon-interaction-gallery.svg"/>
	</div>

	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-ar.svg"/>
	</div>
	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-chat.svg"/>
	</div>
</div>
					</div>
					<div class="gal-mat-bg mat-bg5"></div>
				</div>
				<div class="gal-content-right">
					<div class="_28-b">Get iPhone X <span class="_34-b" style="display: inline-block; margin-top: -2px;">R</span><br/>for a great price.</div>
					<div class="segment-control-2up segment-control-2up__digital-mat ">
						<input type="radio" name="buy-reco5" value="reco5" id="reco5" checked />
						<label for="reco5"  onclick="appleShow5();">
							<p class="_14-sb">Apple Savings</p>
						</label>
						<input type="radio" name="buy-reco5" value="manual5" id="manual5" />
						<label for="manual5" onclick="carrierShow5();">
							<p class="_14-sb">Apple Carrier Deals</p>
						</label>
					</div>
					<div id="savings-swap9" class="savings-swap savings-in">
						<div class="save-apple-item">
							<div class="_17-b">Apple Trade In</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get up to $340 in instant credit when you trade in an eligible device.</div>
						</div>
						<div class="save-apple-item">
							<div class="_17-b">Apple Card</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Get 6% Daily Cash back with a new Apple card through March.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Savings</div>
							<div class="_23-sb review-new-price">From $359 or $17.96/mo. </div>
						</div>
					</div>
					<div id="savings-swap10" class="savings-swap">
						<div class="save-apple-item">
							<div class="_17-b">Special Carrier Offers</div>
							<div class="_14-reg color-shift__shade600 save-apple-item-subtext">Save up to $700 with the latest carrier deals directly from Apple.</div>
						</div>
						<div class="price-swap-wrapper">
							<div class="_14-sb color-shift__shade600">With Apple Carrier Deals</div>
							<div class="_23-sb review-new-price">From $329 or $13.97/mo. </div>
						</div>
					</div>
					<div class="review-wrapper">
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop1.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get it delivered tomorrow or in 2 hours for $9.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop2.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Returns are always free and easy.</div>
						</div>
						<div class="review-prop-item">
							<div class="review-prop-item-image"><img src="./img/prop3.svg"></div>
							<div class="_12-reg review-prop-item-text color-shift__shade600">Get extended coverage with AppleCare+.</div>
						</div>
						<div class="review-action-wrapper">
							<div class="button-buy _17-sb">Buy</div>
							<div class="button-heart _17-sb"><img src="./img/ui-heart.svg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>





	<section href="#modal4" class="section expand-shopby expand-shopby4 stop-expansion" id="modal4" onclick="quickAdd4()">
		<div class="key-feature-text-wrapper">
			<div class="expand-shopby-image">
			<img src="img/photos/shop-watch.png">
			</div>
			<div class="card-expand-name _14-b">Shop Watch</div>
		</div>

		<div class="close-section">
			<div class="button-close" onclick="quickRemove4()">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="transition-text" id="quick-remove4">
			<div id="quick-add4">
				<div class="transition-header _40-b">Title goes here</div>
				<div class="transition-copy _19-sb">Both the Wide and Ultra Wide cameras now have Night mode — and it’s better than ever at capturing incredible low-light shots. The new Wide camera brings in 27 percent more light. So whether you take photos by day or by moonlight, you’ll get a level of detail and color that wasn’t possible before.</div>
			</div>
		</div>
		<div class="expand-shopby-bg"></div>
	</section>

	<section href="#modal5" class="section expand-shopby expand-shopby5 stop-expansion" id="modal5" onclick="quickAdd5()">
		<div class="key-feature-text-wrapper">
			<div class="expand-shopby-image">
			<img src="img/photos/shop-airpods.png">
			</div>
			<div class="card-expand-name _14-b">Shop AirPods</div>
		</div>

		<div class="close-section">
			<div class="button-close" onclick="quickRemove()">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="transition-text" id="quick-remove5">
			<div id="quick-add5">
				<div class="transition-header _40-b">Title goes here</div>
				<div class="transition-copy _19-sb">Both the Wide and Ultra Wide cameras now have Night mode — and it’s better than ever at capturing incredible low-light shots. The new Wide camera brings in 27 percent more light. So whether you take photos by day or by moonlight, you’ll get a level of detail and color that wasn’t possible before.</div>
			</div>
		</div>
		<div class="expand-shopby-bg"></div>
	</section>

	<section href="#modal6" class="section expand-shopby expand-shopby6 stop-expansion" id="modal6" onclick="quickAdd6()">
		<div class="key-feature-text-wrapper">
			<div class="expand-shopby-image">
			<img src="img/photos/shop-tv.png">
			</div>
			<div class="card-expand-name _14-b">Shop TV &amp; Home</div>
		</div>

		<div class="close-section">
			<div class="button-close" onclick="quickRemove6()">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="transition-text" id="quick-remove6">
			<div id="quick-add6">
				<div class="transition-header _40-b">Title goes here</div>
				<div class="transition-copy _19-sb">Both the Wide and Ultra Wide cameras now have Night mode — and it’s better than ever at capturing incredible low-light shots. The new Wide camera brings in 27 percent more light. So whether you take photos by day or by moonlight, you’ll get a level of detail and color that wasn’t possible before.</div>
			</div>
		</div>
		<div class="expand-shopby-bg"></div>
	</section>

	<section href="#modal7" class="section expand-shopby expand-shopby7 stop-expansion" id="modal7" onclick="quickAdd7()">
		<div class="key-feature-text-wrapper">
			<div class="expand-shopby-image">
			<img src="img/photos/shop-ipod.png">
			</div>
			<div class="card-expand-name _14-b">Shop iPod Touch</div>
		</div>

		<div class="close-section">
			<div class="button-close" onclick="quickRemove7()">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="transition-text" id="quick-remove7">
			<div id="quick-add7">
				<div class="transition-header _40-b">Title goes here</div>
				<div class="transition-copy _19-sb">Both the Wide and Ultra Wide cameras now have Night mode — and it’s better than ever at capturing incredible low-light shots. The new Wide camera brings in 27 percent more light. So whether you take photos by day or by moonlight, you’ll get a level of detail and color that wasn’t possible before.</div>
			</div>
		</div>
		<div class="expand-shopby-bg"></div>
	</section>

	<section href="#modal8" class="section expand-shopby expand-shopby8 stop-expansion" id="modal8" onclick="quickAdd8()">
		<div class="key-feature-text-wrapper">
			<div class="expand-shopby-image">
			<img src="img/photos/shop-access.png">
			</div>
			<div class="card-expand-name _14-b">Shop Accessories</div>
		</div>

		<div class="close-section">
			<div class="button-close" onclick="quickRemove8()">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="transition-text" id="quick-remove8">
			<div id="quick-add8">
				<div class="transition-header _40-b">Title goes here</div>
				<div class="transition-copy _19-sb">Both the Wide and Ultra Wide cameras now have Night mode — and it’s better than ever at capturing incredible low-light shots. The new Wide camera brings in 27 percent more light. So whether you take photos by day or by moonlight, you’ll get a level of detail and color that wasn’t possible before.</div>
			</div>
		</div>
		<div class="expand-shopby-bg"></div>
	</section>

	<section href="#modal9" class="section expand-shopby expand-shopby9 stop-expansion" id="modal9" onclick="quickAdd9()">
		<div class="key-feature-text-wrapper">
			<div class="expand-shopby-image">
			<img src="img/photos/shop-giftcard.png">
			</div>
			<div class="card-expand-name _14-b">Shop Gift Cards</div>
		</div>

		<div class="close-section">
			<div class="button-close" onclick="quickRemove9()">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="transition-text" id="quick-remove9">
			<div id="quick-add9">
				<div class="transition-header _40-b">Title goes here</div>
				<div class="transition-copy _19-sb">Both the Wide and Ultra Wide cameras now have Night mode — and it’s better than ever at capturing incredible low-light shots. The new Wide camera brings in 27 percent more light. So whether you take photos by day or by moonlight, you’ll get a level of detail and color that wasn’t possible before.</div>
			</div>
		</div>
		<div class="expand-shopby-bg"></div>
	</section>

</main>


