<div class="container">
	<h1 class="title-section _40-b">New on One</h1>

	<div class="carousel-new-service-jumper" data-flickity='{
		"asNavFor": ".carousel-new-service",
		"cellAlign": "left",
		"contain": true,
		"freeScroll": true,
		"freeScrollFriction": "0.05",
		"prevNextButtons": false,
		"pageDots": false,
		"dragThreshold": 0
	}'>
		<div class="service-jumper _23-b">New</div>
		<div class="service-jumper _23-b">Watch</div>
		<div class="service-jumper _23-b">Listen</div>
		<div class="service-jumper _23-b">Play</div>
		<div class="service-jumper _23-b">Read</div>
		<div class="service-jumper _23-b">Exercise</div>
	</div>
</div>

<div class="carousel-new-service" data-flickity='{
	"cellAlign": "left",
	"contain": true,
	"freeScroll": true,
	"freeScrollFriction": "0.05",
	"prevNextButtons": false,
	"pageDots": false,
	"dragThreshold": 0
}'>
	<div class="card-new-service-wrapper"><!--New Wrapper-->
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple TV+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Music</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Arcade</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple News+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
	</div>
	<div class="card-new-service-wrapper"><!--Watch Wrapper-->
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple TV+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple TV+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple TV+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple TV+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
	</div>
	<div class="card-new-service-wrapper"><!--Listen Wrapper-->
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Music</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Music</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Music</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Music</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
	</div>
	<div class="card-new-service-wrapper"><!--Play Wrapper-->
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Arcade</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Arcade</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Arcade</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Arcade</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
	</div>
	<div class="card-new-service-wrapper"><!--Read Wrapper-->
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple News+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple News+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple News+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple News+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
	</div>
	<div class="card-new-service-wrapper"><!--Exercise Wrapper-->
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Fitness+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Fitness+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Fitness+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-new-service">
			<div class="card-context _10-sb-all-caps">Apple Fitness+</div>
			<div class="card-text-wrapper">
				<div class="card-title _23-b">Lorem text here</div>
				<div class="card-subtitle _14-sb">Lorem smaller text here</div>
			</div>
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
	</div>
	<div class="clear-cell-fix-bento"></div>
</div>