<div class="carousel-iphone" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"freeScroll": true,
			"freeScrollFriction": "0.05",
			"autoPlay": false,
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>
	<div class="card-shopby card-shopby__iphone">
		<div class="card-shopby-image">
			<img src="img/photos/shop-iphone12pro.png">
		</div>
		<div class="card-shopby-name _14-sb"><a href="collection-mac.html">iPhone 12 Pro</a></div>
	</div>
	<div class="card-shopby card-shopby__iphone">
		<div class="card-shopby-image">
			<img src="img/photos/shop-iphone12.png">
		</div>
		<div class="card-shopby-name _14-sb"><a href="collection-ipad.html">iPhone 12</a></div>
	</div>
	<div class="card-shopby card-shopby__iphone">
		<div class="card-shopby-image">
			<img src="img/photos/shop-iphone11.png">
		</div>
		<div class="card-shopby-name _14-sb"><a href="collection-iphone.html">iPhone 11</a></div>
	</div>
	<div class="card-shopby card-shopby__iphone">
		<div class="card-shopby-image">
			<img src="img/photos/shop-iphonese.png">
		</div>
		<div class="card-shopby-name _14-sb"><a href="collection-watch.html">iPhone SE</a></div>
	</div>
	<div class="card-shopby card-shopby__iphone">
		<div class="card-shopby-image">
			<img src="img/photos/shop-iphonexr.png">
		</div>
		<div class="card-shopby-name _14-sb"><a href="collection-airpods.html">iPhone XR</a></div>
	</div>
	<div class="card-shopby card-shopby__iphone">
		<div class="card-shopby-image">
			<img src="img/photos/shop-airpods.png">
		</div>
		<div class="card-shopby-name _14-sb"><a href="collection-home.html">AirPods</a></div>
	</div>
	<div class="card-shopby card-shopby__iphone">
		<div class="card-shopby-image">
			<img src="img/photos/shop-accessories.png">
		</div>
		<div class="card-shopby-name _14-sb"><a href="collection-accessories.html">Accessories</a></div>
	</div>
	<div class="card-shopby card-shopby__iphone">
		<div class="card-shopby-image">
			<img src="img/photos/shop-card.png">
		</div>
		<div class="card-shopby-name _14-sb"><a href="collection-services.html">Apple Card</a></div>
	</div>
	<div class="card-shopby card-shopby__iphone">
		<div class="card-shopby-image">
			<img src="img/photos/shop-ios.png">
		</div>
		<div class="card-shopby-name _14-sb"><a href="collection-shop.html">iOS</a></div>
	</div>
	<div class="clear-cell-fix" aria-hidden="false"></div>
</div>