<div class="carousel-segments" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"freeScroll": true,
			"freeScrollFriction": "0.05",
			"autoPlay": false,
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>
	<div class="card-segment">
		<div class="card-segment-title _34-b color-shift__white">Education</div>
		<div class="card-subtitle _17-sb color-shift__white">Save on a new Mac or iPad<br/>with education pricing.</div>
		<div class="card-asset-container card50"></div>
	</div>
	<div class="card-segment">
		<div class="card-segment-title _34-b color-shift__white">Business</div>
		<div class="card-subtitle _17-sb color-shift__white">See how we can help grow<br/>your business.</div>
		<div class="card-asset-container card51"></div>
	</div>
	<div class="card-segment">
		<div class="card-segment-title _34-b color-shift__white">Healthcare</div>
		<div class="card-subtitle _17-sb color-shift__white">Get the technology to make<br/>healthcare more personal.</div>
		<div class="card-asset-container card52"></div>
	</div>
	<div class="card-segment">
		<div class="card-segment-title _34-b color-shift__white">Accessibility</div>
		<div class="card-subtitle _17-sb color-shift__white">Use built-in features that<br/>work the way you do.</div>
		<div class="card-asset-container card53"></div>
	</div>

	<div class="clear-cell-fix" aria-hidden="false"></div>
</div>