<div class="carousel-tools" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"freeScroll": true,
			"freeScrollFriction": "0.05",
			"autoPlay": false,
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-cashback.svg">
		</div>
		<div class="card-tools-prompt _23-b">Get<span class="color-shift__convincer"> 3% back in<br/>Daily Cash</span> with <br>Apple Card.</div>
		<div class="card-tools-cta _14-sb">See How It Works</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-money.svg">
		</div>
		<div class="card-tools-prompt _23-b">See the many <br/>ways to <span class="color-shift__explainer">pay <br/>over time.</span></div>
		<div class="card-tools-cta _14-sb">See All Options</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-house.svg">
		</div>
		<div class="card-tools-prompt _23-b">For your safety, <br/>we're offering <span class="color-shift__finder">no-<br/>contact delivery.</span></div>
		<div class="card-tools-cta _14-sb">See How It Works</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-text.svg">
		</div>
		<div class="card-tools-prompt _23-b">Make it yours with<span class="color-shift__engager"><br/>free personal engraving.</span></div>
		<div class="card-tools-cta _14-sb">See How It Works</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-trade.svg">
		</div>
		<div class="card-tools-prompt _23-b">We can <span class="color-shift__completer">turn your<br/>device into credit.</span></div>
		<div class="card-tools-cta _14-sb">Get Started</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-bag-blue.svg">
		</div>
		<div class="card-tools-prompt _23-b">Find great<br/>products at a<br/><span class="color-shift__converter">great value.</span></div>
		<div class="card-tools-cta _14-sb">Shop Refurbished</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-bag-yellow.svg">
		</div>
		<div class="card-tools-prompt _23-b">Save on a new Mac or iPad with <br/><span class="color-shift__convincer">education pricing.</span></div>
		<div class="card-tools-cta _14-sb">Shop For Education</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-bag-red.svg">
		</div>
		<div class="card-tools-prompt _23-b">Our <span class="color-shift__finder">Small<br/>Business Team<br/></span>is your team.</div>
		<div class="card-tools-cta _14-sb">Shop For Business</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-chat.svg">
		</div>
		<div class="card-tools-prompt _23-b"><span class="color-shift__converter">Chat </span>with a<br/>Specialist.</div>
		<div class="card-tools-cta _14-sb">Connect Now</div>
	</div>

	<div class="clear-cell-fix" aria-hidden="false"></div>
</div>