<footer class="footer-wrapper">
	<div class="container">
		<div class="row">
			<div class="footer-section">
				<h5 class="_28-b">Products</h5>
				<a class="_14-sb" href="collection-iphone.html">iPhone</a>
				<a class="_14-sb" href="collection-ipad.html">iPad</a>
				<a class="_14-sb" href="collection-mac.html">Mac</diav>
				<a class="_14-sb" href="collection-watch.html">Watch</a>
				<a class="_14-sb" href="collection-home.html">Home &amp; TV</a>
				<a class="_14-sb" href="collection-music.html">Music</a>
				<a class="_14-sb" href="collection-airpods.html">AirPods</a>
				<a class="_14-sb" href="collection-accessories.html">Accessories</a>
			</div>
			<div class="footer-section">
				<h5 class="_28-b">Services</h5>
				<a class="_14-sb" href="collection-music.html">Apple Music</a>
				<a class="_14-sb" href="collection-news.html">Apple News+</a>
				<a class="_14-sb" href="collection-tv.html">Apple TV+</diav>
				<a class="_14-sb" href="collection-arcade.html">Apple Arcade</a>
				<a class="_14-sb" href="collection-books.html">Apple Books</a>
				<a class="_14-sb" href="collection-card.html">Apple Card</a>
				<a class="_14-sb" href="collection-icloud.html">iCloud</a>
			</div>
			<div class="footer-section">
				<h5 class="_28-b">Stores</h5>
				<a class="_14-sb" href="collection-stores.html">Find a Store</a>
				<a class="_14-sb" href="collection-geniusbar.html">Genius Bar</a>
				<a class="_14-sb" href="collection-today.html">Today at Apple</diav>
				<a class="_14-sb" href="collection-camp.html">Apple Camp</a>
				<a class="_14-sb" href="collection-asa.html">Apple Store App</a>
				<a class="_14-sb" href="collection-refurbished.html">Refurbished</a>
				<a class="_14-sb" href="collection-financing.html">Financing</a>
				<a class="_14-sb" href="collection-trade.html">Apple Trade In</a>
				<a class="_14-sb" href="collection-orders-tatus.html">Order Status</a>
				<a class="_14-sb" href="collection-shopping-help.html">Shopping Help</a>
			</div>
			<div class="footer-section">
				<h5 class="_28-b">Account</h5>
				<a class="_14-sb" href="collection-manage-id.html">Manage Your Apple ID</a>
				<a class="_14-sb" href="collection-asa-account.html">Apple Store Account</a>
				<a class="_14-sb" href="collection-icloud.html">iCloud.com</a>
			</div>
			<div class="footer-section">
				<h5 class="_28-b">Segments</h5>
				<a class="_14-sb" href="collection-business.html">Business</a>
				<a class="_14-sb" href="collection-education.html">Education</a>
				<a class="_14-sb" href="collection-healthcare.html">Healthcare</a>
				<a class="_14-sb" href="collection-government.html">Government</a>
				<a class="_14-sb" href="collection-military.html">Military</a>
			</div>
			<div class="footer-section">
				<h5 class="_28-b">Values</h5>
				<a class="_14-sb" href="collection-accessibility.html">Accessibility</a>
				<a class="_14-sb" href="collection-education.html">Education</a>
				<a class="_14-sb" href="collection-environment.html">Environment</a>
				<a class="_14-sb" href="collection-diversity.html">Diversity</a>
				<a class="_14-sb" href="collection-privacy.html">Privacy</a>
				<a class="_14-sb" href="collection-suppliers.html">Suppliers</a>
			</div>
			<div class="footer-section">
				<h5 class="_28-b">About</h5>
				<a class="_14-sb" href="collection-newsroom.html">Newsroom</a>
				<a class="_14-sb" href="collection-leadership.html">Apple Leadership</a>
				<a class="_14-sb" href="collection-jobs.html">Job Opportunities</a>
				<a class="_14-sb" href="collection-investors.html">Investors</a>
				<a class="_14-sb" href="collection-events.html">Events</a>
				<a class="_14-sb" href="collection-contact.html">Contact Apple</a>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="_12-reg color-shift__shade400">
				1. Trade‑in value based on an iPad Pro 1TB. Trade‑in values may vary based on the condition and model of your iPad trade‑in. Must be at least 18. Offer may not be available in all stores and not all devices are eligible for credit. Apple reserves the right to refuse or limit the quantity of any device for any reason. Value of your current device may be applied toward purchase of a new Apple device. Additional terms at apple.com/trade-in.
<br/><br/>
2. $4.99/month after free trial. One subscription per Family Sharing group. Offer good for 3 months after eligible device activation. Plan automatically renews until cancelled. Restrictions and other terms apply.
<br/><br/>
3. New subscribers only. $9.99/month after free trial. No commitment. Plan automatically renews after trial until cancelled.
<br/><br/>
4. $4.99/month after free trial. No commitment. Plan automatically renews after trial until cancelled.
<br/><br/>
5. $9.99/month after free trial. No commitment. Plan automatically renews after trial until cancelled.
			</div>
		</div>
		<br/>
		<div class="row footer-logo">
			<img src="img/icon-logo.svg">
		</div>
	</div>
</footer>