<!-- Expand Gallery -->
<main class="main main-feature" id="main-feature">

	<section href="#modal1" class="section key-feature-item expand-item1" id="modal1">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey1();">
			<div class="button-play">
				<img src="img/ui-play.svg">
			</div>
		</div>
		<div class="card-asset-container key1" id="key-feature-teaser">
			<!--<video class="bg-video" playsinline autoplay muted loop>
				<source src="./img/videos/key-promo.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>-->
		</div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg1" id="expand-feature-bg"></div>
	</section>

	<section href="#modal2" class="section key-feature-item expand-item2" id="modal2">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey2();">
			<div class="key-feature-context _19-b color-shift__shade500">Design</div>
			<div class="key-feature-text _62-b">All-new design.<br/>Five fresh finishes. </div>
			<div class="button-plus button-plus__black">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-asset-container key2" id="key-feature-teaser"></div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg2" id="expand-feature-bg"></div>
	</section>

	<section href="#modal3" class="section key-feature-item expand-item3" id="modal3">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey3();">
			<div class="key-feature-context _19-b color-shift__shade500">Size</div>
			<div class="key-feature-text _62-b">Big news.<br/>Mini news.</div>
			<div class="button-plus button-plus__black">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-asset-container key3" id="key-feature-teaser"></div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg3" id="expand-feature-bg"></div>
	</section>

	<section href="#modal4" class="section key-feature-item expand-item4" id="modal4">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey4();">
			<div class="key-feature-context _19-b color-shift__shade400">Battery Life</div>
			<!--<div class="key-feature-text _40-b" style="color: #1ACD72;">Up to<br/>20 hours<br/>of video<br/>playback.</div>-->
			<div class="button-plus">
				<img src="img/ui-plus-white.svg">
			</div>
		</div>
		<div class="card-asset-container key4" id="key-feature-teaser"></div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg4" id="expand-feature-bg"></div>
	</section>

	<section href="#modal5" class="section key-feature-item expand-item5" id="modal5">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey5();">
			<div class="key-feature-context _19-b color-shift__shade400">Durability</div>
			<div class="key-feature-text _40-b color-shift__white">4x better drop<br/>performance with<br/>Ceramic Shield.</div>
			<div class="button-plus">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-asset-container key5" id="key-feature-teaser"></div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg5" id="expand-feature-bg"></div>
	</section>

	<section href="#modal6" class="section key-feature-item expand-item6" id="modal6">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey6();">
			<div class="key-feature-context _19-b color-shift__shade400">Camera</div>
			<div class="button-plus">
				<img src="img/ui-plus-white.svg">
			</div>
		</div>
		<div class="card-asset-container key6" id="key-feature-teaser">
			<video class="bg-video" playsinline autoplay muted loop>
				<source src="./img/videos/key-camera.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg6" id="expand-feature-bg"></div>
	</section>

	<section href="#modal7" class="section key-feature-item expand-item7" id="modal7">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey7();">
			<div class="key-feature-context _19-b color-shift__shade500">Speed</div>
			<div class="key-feature-text _62-b">Download movies on the fly.</div>
			<div class="button-plus button-plus__black">
				<img src="img/ui-plus.svg">
			</div>
		</div>
		<div class="card-asset-container key7" id="key-feature-teaser"></div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg7" id="expand-feature-bg"></div>
	</section>

	<section href="#modal8" class="section key-feature-item expand-item8" id="modal8">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey8();">
			<div class="key-feature-context _19-b color-shift__shade400">Performance</div>
			<div class="key-feature-text _28-b color-shift__white">Super efficient<br/>for great<br/>battery life.</div>
			<div class="button-plus">
				<img src="img/ui-plus-white.svg">
			</div>
		</div>
		<div class="card-asset-container key8" id="key-feature-teaser"></div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg8" id="expand-feature-bg"></div>
	</section>

	<section href="#modal9" class="section key-feature-item expand-item9" id="modal9">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey9();">
			<div class="key-feature-context _19-b color-shift__shade500">Display</div>
			<div class="key-feature-text _62-b color-shift__white">Less bezel,<br/>more screen.</div>
			<div class="button-plus">
				<img src="img/ui-plus-white.svg">
			</div>
		</div>
		<div class="card-asset-container key9" id="key-feature-teaser"></div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg9" id="expand-feature-bg"></div>
	</section>

	<section href="#modal10" class="section key-feature-item expand-item10" id="modal10">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey10();">
			<div class="key-feature-context _19-b color-shift__shade500">Accessories</div>
			<div class="key-feature-text _28-b">Make wireless charging<br/>a snap with MagSafe.</div>
			<div class="button-plus button-plus__black">
				<img src="img/ui-plus.svg">
			</div>
			<div class="card-asset-container key10" id="key-feature-teaser">
			<video class="bg-video" playsinline autoplay muted loop>
				<source src="./img/videos/key-accessories.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
		</div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg10" id="expand-feature-bg"></div>
	</section>

	<section href="#modal11" class="section key-feature-item expand-item11" id="modal11">
		<div class="key-feature-text-wrapper" onclick="featureLaunch(); jumpKey11();">
			<div class="key-feature-context _19-b color-shift__shade700">Video Capture</div>
			<div class="button-plus">
				<img src="img/ui-plus-white.svg">
			</div>
		</div>
		<div class="card-asset-container key11" id="key-feature-teaser">
			<video class="bg-video" playsinline autoplay muted loop>
				<source src="./img/videos/key-video.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
		<div class="close-section" id="button-close-mat2">
			<div class="button-close" onclick="featureClose();" style="background: rgba(0, 0, 0, 0.3);">
				<img src="img/ui-close.svg"/>
			</div>
		</div>
		<div class="expand-feature-bg feature-bg11" id="expand-feature-bg"></div>
	</section>

</main>
