<div class="container">
	<div class="row">
		<div class="three-up-section section1">
		<h1 class="title-section-small _28-b">Offers</h1>
		<!--<div class="offer-wrapper">
			<img class="offer-image" src="img/icon-offer-airpods.svg">
			<div class="offer-text _14-sb">Buy an iPad or Mac for school and get <span class="color-shift__engager">AirPods on us*.</span></div>
		</div>
		<br>-->
		<div class="offer-wrapper">
			<img class="offer-image" src="img/icon-offer-trade.svg">
			<div class="offer-text _14-sb">Get up to<span class="color-shift__completer">$399 in credit</span> with Apple Trade In.</div>
		</div>
		<br>
		<div class="offer-wrapper">
			<img class="offer-image" src="img/icon-offer-tv.svg">
			<div class="offer-text _14-sb">Get <span class="color-shift__converter">one year of Apple TV+ free</span> when you buy a new iPhone.</div>
		</div>
		<br>
		<div class="offer-wrapper">
			<img class="offer-image" src="img/icon-offer-percent.svg">
			<div class="offer-text _14-sb">Get <span class="color-shift__convincer">3% cash back</span> today when you buy with Apple Card.</div>
		</div>
		</div>
		<div class="three-up-section section2">
			<h1 class="title-section-small _28-b">Popular Purchases</h1>
			<div class="button-pill _14-sb">iPhone 11 Pro</div>
			<div class="button-pill _14-sb">Apple Watch Series 3</div>
			<div class="button-pill _14-sb">AirPods Pro</div>
			<div class="button-pill _14-sb">iMac</div>
			<div class="button-pill _14-sb">Macbook Pro 13</div>
		</div>
		<div class="three-up-section section3">
			<h1 class="title-section-small _28-b">Quick Searches</h1>
			<div class="button-pill button-pill-search _14-sb">
				<div class="button-pill-search-text">Remote Learning</div>
				<img src="img/ui-search.svg">
			</div>
			<div class="button-pill button-pill-search _14-sb">
				<div class="button-pill-search-text">Apple Stores</div>
				<img src="img/ui-search.svg">
			</div>
			<div class="button-pill button-pill-search _14-sb">
				<div class="button-pill-search-text">Gift Cards</div>
				<img src="img/ui-search.svg">
			</div>
			<div class="button-pill button-pill-search _14-sb">
				<div class="button-pill-search-text">Compare</div>
				<img src="img/ui-search.svg">
			</div>
			<div class="button-pill button-pill-search _14-sb">
				<div class="button-pill-search-text">Accessories</div>
				<img src="img/ui-search.svg">
			</div>
		</div>
	</div>
</div>