<div class="product-interactions-wrapper">
	<!--<a href="iphone-12.html#galleryTop">-->
	<div class="product-interaction" onclick="galleryLaunch();"> <!--jumpGalTop();-->
		<img class="product-interaction-icon" src="img/icon-interaction-gallery.svg"/>
	</div>

	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-ar.svg"/>
	</div>
	<div class="product-interaction">
		<img class="product-interaction-icon" src="img/icon-interaction-chat.svg"/>
	</div>
</div>