<div class="product-overview__wrapper" id="overviewTop">
  	<div id="overview-text" class="product-overview__text _62-b color-shift__white">See iPhone 12 in action.
	</div>
	<div class="button-plus" onclick="overviewLaunch();">
		<a href="#overviewTop"><img src="img/ui-plus-white.svg"></a>
	</div>

	<div class="overview-video-wrapper" id="overviewVideo">
		<div class="close-section" id="closeOverview">
				<div class="button-close" onclick="overviewClose();" style="background: rgba(0, 0, 0, 0.3);">
					<img src="img/ui-close.svg"/>
				</div>
			</div>
		<video class="bg-video overview-video" id="overview" loop muted playsinline autoplay>
		<source src="./img/videos/overview-12v2.mp4" type="video/mp4">
		Your browser does not support the video tag.
		</video>
	</div>
	<!--<div id="playbuttonoverview" class="button-play" onclick="playOverview();">
		<img src="img/ui-play.svg">
	</div>
	<div id="pausebuttonoverview" class="button-play" onclick="pauseOverview();" style="display:none;">
		<img src="img/ui-pause.svg">
	</div>
	<video class="bg-video" id="overview">
	<source src="./img/videos/overview-12.mp4" type="video/mp4">
	Your browser does not support the video tag.
	</video>-->
</div>