<div class="container">
		<h1 class="title-section _62-b">Let's get<br/>technical.</h1>
    </div>
    <div class="container container-wide">
      <div class="row online-help__wrapper">
      <div class="col s6">
        <div class="card-techspec">
          <div class="card-context _19-sb color-shift__shade500">Tech Specs</div>
          <div class="card-subtitle _34-b">View all features<br/>and tech specs.</div>
          <div class="button-plus button-plus__black">
            <img src="img/ui-plus.svg">
          </div>
          <div class="card-asset-container card80"></div>
        </div>
      </div>
      <div class="col s6">
        <div class="card-techspec card-techspec__last">
          <div class="card-context _19-sb color-shift__shade500">Compare</div>
          <div class="card-subtitle _34-b">See how the<br/>models matchup.</div>
          <div class="button-plus button-plus__black">
            <img src="img/ui-plus.svg">
          </div>
          <div class="card-asset-container card81"></div>
        </div>
      </div>
    </div>
</div>