<div class="carousel-tools" data-flickity='{
			"cellAlign": "left",
			"contain": true,
			"freeScroll": true,
			"freeScrollFriction": "0.05",
			"autoPlay": false,
			"prevNextButtons": false,
			"pageDots": false,
			"dragThreshold": 0
		}'>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-search.svg">
		</div>
		<div class="card-tools-prompt _23-b"><span class="color-shift__engager">Find</span> the <br>right product.</div>
		<div class="card-tools-cta _14-sb">Get Started</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-compare.svg">
		</div>
		<div class="card-tools-prompt _23-b"><span class="color-shift__explainer">Compare</span> <br>products.</div>
		<div class="card-tools-cta _14-sb">Get Started</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-trade.svg">
		</div>
		<div class="card-tools-prompt _23-b"><span class="color-shift__completer">Trade in</span> your current device for credit.</div>
		<div class="card-tools-cta _14-sb">Get Started</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-locate.svg">
		</div>
		<div class="card-tools-prompt _23-b"><span class="color-shift__finder">Locate</span> products <br>near you.</div>
		<div class="card-tools-cta _14-sb">Get Started</div>
	</div>
	<div class="card-tools">
		<div class="card-tools-image">
			<img src="img/icon-tool-chat.svg">
		</div>
		<div class="card-tools-prompt _23-b"><span class="color-shift__converter">Chat</span> with a <br>Specialist.</div>
		<div class="card-tools-cta _14-sb">Connect Now</div>
	</div>

	<div class="clear-cell-fix" aria-hidden="false"></div>
</div>