<div class="docSlider2 docSlider-Feature" id="docSliderGalleryFeatures">
    <div class="gallerySection" id="matTopKey1">
        <div class="galleryContent feature-expand-bg1">
			<div class="gal">
			<video class="bg-video" playsinline autoplay muted loop>
				<source src="./img/videos/key-promo.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey2">
        <div class="galleryContent feature-expand-bg2">
			<div class="gal">
				<div class="key-feature-context _19-b color-shift__shade500">Design</div>
				<div class="key-feature-blockwrap">
					<div class="key-feature-statement _62-b">Five fresh finishes<br/>in an all new design.</div>
					<div class="key-feature-point _19-sb">A new flat‑edge design that’s more durable than ever allowed us to take the display right to the very edge</div>
					<div class="key-feature-point _19-sb">Beautiful color‑matched edges made of aerospace‑grade aluminum make the polished glass back really pop</div>
					<div class="key-feature-point _19-sb">Black, White, Red , Green, and Blue</div>
				</div>
				<div class="key-feature-lrg-image">
					<img src="./img/photos/keyDesign.jpg">
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey3">
        <div class="galleryContent feature-expand-bg3">
			<div class="gal">
			<div class="key-feature-context _19-b color-shift__shade500">Size</div>
			<div class="key-feature-blockwrap blockwrap-right">
					<div class="key-feature-statement _62-b">Two just‑right sizes.</div>
					<div class="key-feature-point _19-sb">iPhone 12 and iPhone 12 mini both share the powerful Super Retina XDR display</div>
					<div class="key-feature-point _19-sb">iPhone 12 is actually smaller, thinner, and lighter than iPhone 11, but has the same size display</div>
					<div class="key-feature-point _19-sb">iPhone 12 mini is smaller and lighter than iPhone SE, yet its display is 15% larger</div>
					<br/>
					<a class="link-main _14-sb">Compare to iPhone 12 Pro</a>
				</div>
				<div class="key-feature-lrg-image lrg-image-left">
					<img src="./img/photos/keySize.jpg">
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey4">
        <div class="galleryContent feature-expand-bg4">
			<div class="gal">
			<div class="key-feature-context _19-b color-shift__shade500">Battery</div>
			<div class="key-feature-blockwrap">
					<div class="key-feature-statement _62-b color-shift__white">Great battery life,<br/>free of charge.</div>
					<div class="key-feature-point _19-sb color-shift__white">Do more on a single charge thanks to the powerfully efficient A14 Bionic chip</div>
					<div class="key-feature-point _19-sb color-shift__white">Up to 17 hours of video playback on iPhone 12</div>
					<div class="key-feature-point _19-sb color-shift__white">Up to 15 hours of video playback on iPhone 12 mini</div>
					<div class="key-feature-point _19-sb color-shift__white">Smart Data Mode switches from 5G to LTE when you don’t need 5G speeds, conserving battery life</div>
				</div>
				<div class="key-feature-lrg-image" style="width: 59%; right: 50px;">
					<img src="./img/photos/keyBattery.jpg">
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey5">
        <div class="galleryContent feature-expand-bg5">
			<div class="gal">
			<div class="key-feature-context _19-b color-shift__shade500">Durability</div>
			<div class="key-feature-blockwrap">
					<div class="key-feature-statement _62-b">4x better drop performance with Ceramic Shield.</div>
					<div class="key-feature-point _19-sb">Toughest glass in any smartphone made by introducing nano-ceramic crystals — which are harder than most metals — into glass for far greater durability</div>
					<div class="key-feature-point _19-sb">Our dual‑ion exchange process also protects against nicks, scratches, and everyday wear and tear</div>
					<div class="key-feature-point _19-sb">Industry-leading IP68 water resistance</div>
					<div class="key-feature-point _19-sb">Also resists spills and splashes from everyday liquids like coffee, tea, soda, and juice</div>
				</div>
				<div class="key-feature-lrg-image">
					<img src="./img/photos/keyDurability.jpg">
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey6">
        <div class="galleryContent feature-expand-bg6">
			<div class="gal">
			<div class="key-feature-context _19-b color-shift__shade500">Camera</div>
			<div class="key-feature-blockwrap">
					<div class="key-feature-statement _62-b color-shift__white" style="margin-top: 60px;">Advanced dual-camera system with Night mode selfies.</div>
					<div class="key-feature-point _19-sb color-shift__white">Ultra Wide and Wide cameras</div>
					<div class="key-feature-point _19-sb color-shift__white">Night mode on both cameras for greater detail and more natural color in dimly lit environments</div>
					<div class="key-feature-point _19-sb color-shift__white">The Wide camera now captures 27% more light for incredible low‑light photos and videos</div>
					<div class="key-feature-point _19-sb color-shift__white">Works with A14 Bionic to enable computational photography for a level of detail and color that wasn’t possible before</div>
					<div class="key-feature-point _19-sb color-shift__white">The TrueDepth camera on the front also gets a big boost, including Night mode for selfies that look amazing in the dark</div>
				</div>
				<div class="key-feature-lrg-image" style="top: 0; width: 55%; right: 20px;">
					<img src="./img/photos/keyCamera.jpg">
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey7">
        <div class="galleryContent feature-expand-bg7">
			<div class="gal">
			<div class="key-feature-context _19-b color-shift__shade500">Speed</div>
			<div class="key-feature-blockwrap blockwrap-right">
					<div class="key-feature-statement _62-b">Download movies<br/>on the fly.</div>
					<div class="key-feature-point _19-sb">Faster downloads, higher‑quality video streaming, and lots less lag</div>
					<div class="key-feature-point _19-sb">More 5G bands than any other smartphone for the broadest 5G coverage worldwide</div>
					<div class="key-feature-point _19-sb">Sets you up to take full advantage of 5G network upgrades now and in the future</div>
				</div>
				<div class="key-feature-lrg-image lrg-image-left">
					<img src="./img/photos/keySpeed.jpg">
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey8">
        <div class="galleryContent feature-expand-bg8">
			<div class="gal">
			<div class="key-feature-context _19-b color-shift__shade500">Chip</div>
			<div class="key-feature-blockwrap">
 					<div class="key-feature-statement _62-b color-shift__white">The fastest chip<br/>in a smartphone.</div>
					<div class="key-feature-point _19-sb color-shift__white">The superpowerful A14 Bionic pushes what’s possible now and is ready for just about anything that comes next</div>
					<div class="key-feature-point _19-sb color-shift__white">Makes everything from gaming to photo editing more fluid, and enables new things like 4K Dolby Vision video</div>
					<div class="key-feature-point _19-sb color-shift__white">Increased efficiency gives you all these advanced capabilities while still providing great battery life</div>
					<div class="key-feature-point _14-sb color-shift__shade400">Same chip as <span class="_14-b color-shift__shade400">iPhone 12 Pro</span> and <span class="_14-b color-shift__shade400">iPad Air</span></div>
				</div>
				<div class="key-feature-lrg-image">
					<img src="./img/photos/keyChip.jpg">
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey9">
        <div class="galleryContent feature-expand-bg9">
			<div class="gal">
			<div class="key-feature-context _19-b color-shift__shade500">Display</div>
			<div class="key-feature-blockwrap blockwrap-right">
					<div class="key-feature-statement _62-b">A brighter,<br/>more beautiful<br/>OLED display.</div>
					<div class="key-feature-point _19-sb">Super Retina XDR display delivers vastly more contrast, incredible color accuracy, and a huge jump in pixel density.</div>
					<div class="key-feature-point _19-sb">All‑screen design spans from edge to edge, immersing you in your content</div>
					<div class="key-feature-point _14-sb color-shift__shade500">Same display technology as <span class="_14-b color-shift__shade500">iPhone 12 Pro</span></div>
				</div>
				<div class="key-feature-lrg-image lrg-image-left">
					<img src="./img/photos/keyDisplay.jpg">
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey10">
        <div class="galleryContent feature-expand-bg10">
			<div class="gal">
			<div class="key-feature-context _19-b color-shift__shade500">Accessories</div>
			<div class="key-feature-blockwrap">
					<div class="key-feature-statement _62-b">Make wireless charging a snap<br/>with MagSafe.</div>
					<div class="key-feature-point _19-sb">All‑new MagSafe cases, sleeves, wallets, and chargers attach effortlessly and let you snap on multiple accessories at once.</div>
					<div class="key-feature-point _19-sb">Magnets align themselves perfectly every time for faster wireless charging — even with a MagSafe case on.</div>
					<div class="key-feature-point _19-sb">Mix and match colors or choose a clear case to show off your favorite iPhone 12 finish.</div>
				</div>
				<div class="key-feature-lrg-image" style="right: 30px;">
					<img src="./img/photos/keyAccessories.jpg">
				</div>
			</div>
		</div>
    </div>
	<div class="gallerySection" id="matTopKey11">
        <div class="galleryContent feature-expand-bg11">
			<div class="gal">
				<div class="card-asset-container key11">
				<video class="bg-video" playsinline autoplay muted loop>
					<source src="./img/videos/key-video.mp4" type="video/mp4">
					Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
    </div>
</div>
