:root {
  /** _10-sb-all-caps **/
  --_10-sb-all-caps-font-family: 'SF Pro Text', 'SFProText-Semibold', 'Roboto', 'Univers', 'Sans-Serif';
  --_10-sb-all-caps-font-size: 10px;
  --_10-sb-all-caps-letter-spacing: -0.2px;
  --_10-sb-all-caps-line-height: 14px;
  --_10-sb-all-caps-font-weight: 600;
  --_10-sb-all-caps-text-transform: uppercase;
  --_10-sb-all-caps-color: var(--shade600);
  /** _12-b **/
  --_12-b-font-family: 'SF Pro Text', 'SFProText-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_12-b-font-size: 12px;
  --_12-b-letter-spacing: -0.3px;
  --_12-b-line-height: 16px;
  --_12-b-font-weight: 700;
  --_12-b-color: black;
  /** _12-reg **/
  --_12-reg-font-family: 'SF Pro Text', 'SFProText-Regular', 'Roboto', 'Univers', 'Sans-Serif';
  --_12-reg-font-size: 12px;
  --_12-reg-letter-spacing: -0.3px;
  --_12-reg-line-height: 16px;
  --_12-reg-font-weight: 400;
  --_12-reg-color: black;
  /** _14-b **/
  --_14-b-font-family: 'SF Pro Text', 'SFProText-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_14-b-font-size: 14px;
  --_14-b-letter-spacing: -0.3px;
  --_14-b-line-height: 18px;
  --_14-b-font-weight: 700;
  --_14-b-color: black;
  /** _14-reg **/
  --_14-reg-font-family: 'SF Pro Text', 'SFProText-Regular', 'Roboto', 'Univers', 'Sans-Serif';
  --_14-reg-font-size: 14px;
  --_14-reg-letter-spacing: -0.3px;
  --_14-reg-line-height: 18px;
  --_14-reg-font-weight: 400;
  --_14-reg-color: black;
  /** _14-reg-loose **/
  --_14-reg-loose-font-family: 'SF Pro Text', 'SFProText-Regular', 'Roboto', 'Univers', 'Sans-Serif';
  --_14-reg-loose-font-size: 14px;
  --_14-reg-loose-letter-spacing: -0.3px;
  --_14-reg-loose-line-height: 20px;
  --_14-reg-loose-font-weight: 400;
  --_14-reg-loose-color: black;
  /** _14-sb **/
  --_14-sb-font-family: 'SF Pro Text', 'SFProText-Semibold', 'Roboto', 'Univers', 'Sans-Serif';
  --_14-sb-font-size: 14px;
  --_14-sb-letter-spacing: -0.1px;
  --_14-sb-line-height: 18px;
  --_14-sb-font-weight: 600;
  --_14-sb-color: black;
  /** _17-b **/
  --_17-b-font-family: 'SF Pro Text', 'SFProText-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_17-b-font-size: 17px;
  --_17-b-letter-spacing: -0.1px;
  --_17-b-line-height: 20px;
  --_17-b-font-weight: 700;
  --_17-b-color: black;
  /** _17-reg **/
  --_17-reg-font-family: 'SF Pro Text', 'SFProText-Regular', 'Roboto', 'Univers', 'Sans-Serif';
  --_17-reg-font-size: 17px;
  --_17-reg-letter-spacing: -0.4px;
  --_17-reg-line-height: 24px;
  --_17-reg-font-weight: 400;
  --_17-reg-color: black;
  /** _17-sb **/
  --_17-sb-font-family: 'SF Pro Text', 'SFProText-Semibold', 'Roboto', 'Univers', 'Sans-Serif';
  --_17-sb-font-size: 17px;
  --_17-sb-letter-spacing: -0.4px;
  --_17-sb-line-height: 20px;
  --_17-sb-font-weight: 600;
  --_17-sb-color: black;
  /** _19-b **/
  --_19-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_19-b-font-size: 19px;
  --_19-b-letter-spacing: 0.1px;
  --_19-b-line-height: 22px;
  --_19-b-font-weight: 700;
  --_19-b-color: black;
  /** _19-sb **/
  --_19-sb-font-family: 'SF Pro Display', 'SFProDisplay-Semibold', 'Roboto', 'Univers', 'Sans-Serif';
  --_19-sb-font-size: 19px;
  --_19-sb-letter-spacing: 0.1px;
  --_19-sb-line-height: 22px;
  --_19-sb-font-weight: 600;
  --_19-sb-color: black;
  /** _23-b **/
  --_23-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_23-b-font-size: 23px;
  --_23-b-letter-spacing: -0.2px;
  --_23-b-line-height: 26px;
  --_23-b-font-weight: 700;
  --_23-b-color: black;
  /** _23-sb **/
  --_23-sb-font-family: 'SF Pro Display', 'SFProDisplay-Semibold', 'Roboto', 'Univers', 'Sans-Serif';
  --_23-sb-font-size: 23px;
  --_23-sb-letter-spacing: 0.2px;
  --_23-sb-line-height: 26px;
  --_23-sb-font-weight: 600;
  --_23-sb-color: black;
  /** _28-b **/
  --_28-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_28-b-font-size: 28px;
  --_28-b-letter-spacing: -0.2px;
  --_28-b-line-height: 32px;
  --_28-b-font-weight: 700;
  --_28-b-color: black;
  /** _34-b **/
  --_34-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_34-b-font-size: 32px;
  --_34-b-letter-spacing: -0.5px;
  --_34-b-line-height: 36px;
  --_34-b-font-weight: 700;
  --_34-b-color: black;
  /** _34-sb **/
  --_34-sb-font-family: 'SF Pro Display', 'SFProDisplay-Semibold', 'Roboto', 'Univers', 'Sans-Serif';
  --_34-sb-font-size: 34px;
  --_34-sb-letter-spacing: -0.2px;
  --_34-sb-line-height: 38px;
  --_34-sb-font-weight: 600;
  --_34-sb-color: black;
  /** _40-b **/
  --_40-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_40-b-font-size: 40px;
  --_40-b-letter-spacing: -0.2px;
  --_40-b-line-height: 44px;
  --_40-b-font-weight: 700;
  --_40-b-color: black;
  /** _40-b **/
  --_40-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_40-b-font-size: 40px;
  --_40-b-letter-spacing: -0.2px;
  --_40-b-line-height: 44px;
  --_40-b-font-weight: 700;
  --_40-b-color: black;
  /** _40-sb **/
  --_40-sb-font-family: 'SF Pro Display', 'SFProDisplay-Semibold', 'Roboto', 'Univers', 'Sans-Serif';
  --_40-sb-font-size: 40px;
  --_40-sb-letter-spacing: -0.2px;
  --_40-sb-line-height: 44px;
  --_40-sb-font-weight: 600;
  --_40-sb-color: black;
  /** _45-b **/
  --_45-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_45-b-font-size: 45px;
  --_45-b-letter-spacing: -0.2px;
  --_45-b-line-height: 48px;
  --_45-b-font-weight: 700;
  --_45-b-color: black;
  /** _51-b **/
  --_51-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_51-b-font-size: 51px;
  --_51-b-letter-spacing: -0.3px;
  --_51-b-line-height: 56px;
  --_51-b-font-weight: 700;
  --_51-b-color: black;
  /** _62-b **/
  --_62-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_62-b-font-size: 62px;
  --_62-b-letter-spacing: -0.3px;
  --_62-b-line-height: 66px;
  --_62-b-font-weight: 700;
  --_62-b-color: black;
  /** _71-b **/
  --_71-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_71-b-font-size: 71px;
  --_71-b-letter-spacing: -0.3px;
  --_71-b-line-height: 75px;
  --_71-b-font-weight: 700;
  --_71-b-color: black;
  /** _80-b **/
  --_80-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_80-b-font-size: 80px;
  --_80-b-letter-spacing: -0.3px;
  --_80-b-line-height: 84px;
  --_80-b-font-weight: 700;
  --_80-b-color: black;
  /** _96-b **/
  --_96-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_96-b-font-size: 96px;
  --_96-b-letter-spacing: -0.4px;
  --_96-b-line-height: 100px;
  --_96-b-font-weight: 700;
  --_96-b-color: black;
  /** _114-b **/
  --_114-b-font-family: 'SF Pro Display', 'SFProDisplay-Bold', 'Roboto', 'Univers', 'Sans-Serif';
  --_114-b-font-size: 114px;
  --_114-b-letter-spacing: -0.5px;
  --_114-b-line-height: 118px;
  --_114-b-font-weight: 700;
  --_114-b-color: black; }

/* close :root */
._10-sb-all-caps {
  font-family: var(--_10-sb-all-caps-font-family);
  font-size: var(--_10-sb-all-caps-font-size);
  letter-spacing: var(--_10-sb-all-caps-letter-spacing);
  line-height: var(--_10-sb-all-caps-line-height);
  font-weight: var(--_10-sb-all-caps-font-weight);
  text-transform: var(--_10-sb-all-caps-text-transform);
  color: var(--_10-sb-all-caps-color); }

._12-b {
  font-family: var(--_12-b-font-family);
  font-size: var(--_12-b-font-size);
  letter-spacing: var(--_12-b-letter-spacing);
  line-height: var(--_12-b-line-height);
  font-weight: var(--_12-b-font-weight);
  color: var(--_12-b-color); }

._12-reg {
  font-family: var(--_12-reg-font-family);
  font-size: var(--_12-reg-font-size);
  letter-spacing: var(--_12-reg-letter-spacing);
  line-height: var(--_12-reg-line-height);
  font-weight: var(--_12-reg-font-weight);
  color: var(--_12-reg-color); }

._14-b {
  font-family: var(--_14-b-font-family);
  font-size: var(--_14-b-font-size);
  letter-spacing: var(--_14-b-letter-spacing);
  line-height: var(--_14-b-line-height);
  font-weight: var(--_14-b-font-weight);
  color: var(--_14-b-color); }

@media only screen and (max-width: 663px) {
  ._14-b {
    font-size: var(--_12-b-font-size); } }

._14-reg {
  font-family: var(--_14-reg-font-family);
  font-size: var(--_14-reg-font-size);
  letter-spacing: var(--_14-reg-letter-spacing);
  line-height: var(--_14-reg-line-height);
  font-weight: var(--_14-reg-font-weight);
  color: var(--_14-reg-color); }

._14-reg-loose {
  font-family: var(--_14-reg-loose-font-family);
  font-size: var(--_14-reg-loose-font-size);
  letter-spacing: var(--_14-reg-loose-letter-spacing);
  line-height: var(--_14-reg-loose-line-height);
  font-weight: var(--_14-reg-loose-font-weight);
  color: var(--_14-reg-loose-color); }

._14-sb {
  font-family: var(--_14-sb-font-family);
  font-size: var(--_14-sb-font-size);
  letter-spacing: var(--_14-sb-letter-spacing);
  line-height: var(--_14-sb-line-height);
  font-weight: var(--_14-sb-font-weight);
  color: var(--_14-sb-color); }

@media only screen and (max-width: 663px) {
  ._14-sb {
    font-size: 12px; } }

._17-b {
  font-family: var(--_17-b-font-family);
  font-size: var(--_17-b-font-size);
  letter-spacing: var(--_17-b-letter-spacing);
  line-height: var(--_17-b-line-height);
  font-weight: var(--_17-b-font-weight);
  color: var(--_17-b-color); }

._17-reg {
  font-family: var(--_17-reg-font-family);
  font-size: var(--_17-reg-font-size);
  letter-spacing: var(--_17-reg-letter-spacing);
  line-height: var(--_17-reg-line-height);
  font-weight: var(--_17-reg-font-weight);
  color: var(--_17-reg-color); }

@media only screen and (max-width: 663px) {
  ._17-reg {
    font-size: var(--_14-reg-font-size);
    letter-spacing: var(--_14-reg-letter-spacing);
    line-height: var(--_14-reg-line-height); } }

._17-sb {
  font-family: var(--_17-sb-font-family);
  font-size: var(--_17-sb-font-size);
  letter-spacing: var(--_17-sb-letter-spacing);
  line-height: var(--_17-sb-line-height);
  font-weight: var(--_17-sb-font-weight);
  color: var(--_17-sb-color); }

@media only screen and (max-width: 663px) {
  ._17-sb {
    font-size: var(--_14-sb-font-size);
    letter-spacing: var(--_14-sb-letter-spacing);
    line-height: var(--_14-sb-line-height); } }

._19-b {
  font-family: var(--_19-b-font-family);
  font-size: var(--_19-b-font-size);
  letter-spacing: var(--_19-b-letter-spacing);
  line-height: var(--_19-b-line-height);
  font-weight: var(--_19-b-font-weight);
  color: var(--_19-b-color); }

._19-sb {
  font-family: var(--_19-sb-font-family);
  font-size: var(--_19-sb-font-size);
  letter-spacing: var(--_19-sb-letter-spacing);
  line-height: var(--_19-sb-line-height);
  font-weight: var(--_19-sb-font-weight);
  color: var(--_19-sb-color); }

@media only screen and (max-width: 663px) {
  ._19-sb {
    font-size: var(--_14-sb-font-size);
    letter-spacing: var(--_14-sb-letter-spacing);
    line-height: var(--_14-sb-line-height); } }

._23-b {
  font-family: var(--_23-b-font-family);
  font-size: var(--_23-b-font-size);
  letter-spacing: var(--_23-b-letter-spacing);
  line-height: var(--_23-b-line-height);
  font-weight: var(--_23-b-font-weight);
  color: var(--_23-b-color);
  margin-bottom: 4px; }

@media only screen and (max-width: 663px) {
  ._23-b {
    font-size: var(--_17-b-font-size);
    margin-bottom: 2px;
    line-height: 20px; } }

._23-sb {
  font-family: var(--_23-sb-font-family);
  font-size: var(--_23-sb-font-size);
  letter-spacing: var(--_23-sb-letter-spacing);
  line-height: var(--_23-sb-line-height);
  font-weight: var(--_23-sb-font-weight);
  color: var(--_23-sb-color); }

._28-b {
  font-family: var(--_28-b-font-family);
  font-size: var(--_28-b-font-size);
  letter-spacing: var(--_28-b-letter-spacing);
  line-height: var(--_28-b-line-height);
  font-weight: var(--_28-b-font-weight);
  color: var(--_28-b-color); }

@media only screen and (max-width: 663px) {
  ._28-b {
    font-size: var(--_19-b-font-size);
    letter-spacing: var(--_19-b-letter-spacing);
    line-height: var(--_19-b-line-height); } }

._34-b {
  font-family: var(--_34-b-font-family);
  font-size: var(--_34-b-font-size);
  letter-spacing: var(--_34-b-letter-spacing);
  line-height: var(--_34-b-line-height);
  font-weight: var(--_34-b-font-weight);
  color: var(--_34-b-color); }

@media only screen and (max-width: 663px) {
  ._34-b {
    font-size: var(--_23-b-font-size);
    letter-spacing: var(--_23-b-letter-spacing);
    line-height: var(--_23-b-line-height); } }

._34-sb {
  font-family: var(--_34-sb-font-family);
  font-size: var(--_34-sb-font-size);
  letter-spacing: var(--_34-sb-letter-spacing);
  line-height: var(--_34-sb-line-height);
  font-weight: var(--_34-sb-font-weight);
  color: var(--_34-sb-color); }

._40-b {
  font-family: var(--_40-b-font-family);
  font-size: var(--_40-b-font-size);
  letter-spacing: var(--_40-b-letter-spacing);
  line-height: var(--_40-b-line-height);
  font-weight: var(--_40-b-font-weight);
  color: var(--_40-b-color); }

@media only screen and (max-width: 663px) {
  ._40-b {
    font-size: var(--_28-b-font-size);
    line-height: 32px; } }

._40-sb {
  font-family: var(--_40-sb-font-family);
  font-size: var(--_40-sb-font-size);
  letter-spacing: var(--_40-sb-letter-spacing);
  line-height: var(--_40-sb-line-height);
  font-weight: var(--_40-sb-font-weight);
  color: var(--_40-sb-color); }

._45-b {
  font-family: var(--_45-b-font-family);
  font-size: var(--_45-b-font-size);
  letter-spacing: var(--_45-b-letter-spacing);
  line-height: var(--_45-b-line-height);
  font-weight: var(--_45-b-font-weight);
  color: var(--_45-b-color); }

._51-b {
  font-family: var(--_51-b-font-family);
  font-size: var(--_51-b-font-size);
  letter-spacing: var(--_51-b-letter-spacing);
  line-height: var(--_51-b-line-height);
  font-weight: var(--_51-b-font-weight);
  color: var(--_51-b-color); }

@media only screen and (max-width: 663px) {
  ._51-b {
    font-size: var(--_40-b-font-size);
    line-height: 44px; } }

._62-b {
  font-family: var(--_62-b-font-family);
  font-size: var(--_62-b-font-size);
  letter-spacing: var(--_62-b-letter-spacing);
  line-height: var(--_62-b-line-height);
  font-weight: var(--_62-b-font-weight);
  color: var(--_62-b-color); }

._71-b {
  font-family: var(--_71-b-font-family);
  font-size: var(--_71-b-font-size);
  letter-spacing: var(--_71-b-letter-spacing);
  line-height: var(--_71-b-line-height);
  font-weight: var(--_71-b-font-weight);
  color: var(--_71-b-color); }

._80-b {
  font-family: var(--_80-b-font-family);
  font-size: var(--_80-b-font-size);
  letter-spacing: var(--_80-b-letter-spacing);
  line-height: var(--_80-b-line-height);
  font-weight: var(--_80-b-font-weight);
  color: var(--_80-b-color); }

._96-b {
  font-family: var(--_96-b-font-family);
  font-size: var(--_96-b-font-size);
  letter-spacing: var(--_96-b-letter-spacing);
  line-height: var(--_96-b-line-height);
  font-weight: var(--_96-b-font-weight);
  color: var(--_96-b-color); }

._114-b {
  font-family: var(--_114-b-font-family);
  font-size: var(--_114-b-font-size);
  letter-spacing: var(--_114-b-letter-spacing);
  line-height: var(--_114-b-line-height);
  font-weight: var(--_114-b-font-weight);
  color: var(--_114-b-color); }
